NUXT_PUBLIC_API_BASE=/api/v1
NUXT_PUBLIC_FACEBOOK_APP_ID=your_facebook_app_id
NUXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
NUXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=